* {
  font-family: "Oswald", sans-serif;
}

.centrar {
  display: flexbox;
  text-align: center;
}

.titulo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10;
}

.cursiva {
  font-family: cursive;
}

.imagen {
  height: 37rem;
  width: 32rem;
}

.Icono {
  width: 1.8rem;
}
